<div class="fixed-top navbar-toggler hidden-xs-down navbar-inverse bg-inverse sidebar" style="width: 105px;">
    <ul class="nav nav-pills flex-column" style="margin-top: 75px;">
        <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
