<div class="card">
    <div class="card-header">
        <!-- Edit Button -->
        <a (click)="onEdit()" *ngIf="(scope | async)?.includes('uaa.admin')">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>

        <!-- Delete Button -->
        <a (click)="deleteConfirmation()">
          <i class="fa fa-times fa-pull-right" aria-hidden="true"></i>
        </a>
    </div>

    <div class="card-body" style="max-height: 65vh; overflow-y: scroll;">
      <my-table-list [item]="item"></my-table-list>
    </div>
</div>