<div [dragula]='"nested-bag"' class="row">
        <my-card 
                *ngFor="let item of data"
                class="col-sm-12 col-md-6 col-lg-4"
                style="padding: 10px; "
                [data]="item | keys" 
                [action]="action">
        </my-card>
        <div (click)="showDataRendererModal()" class="col-sm-12 col-md-6 col-lg-4" style="padding: 10px; cursor: pointer;">
                <div style="
                        border: 5px dotted lightgray; 
                        border-radius: 20px; 
                        height: 40vh;">
                        <div style="
                                font-size: 8vh;
                                color: lightgray;
                                font-weight: bold;
                                line-height: 32vh;
                                display: flex;
                                justify-content: center; 
                                align-self: center;"
                        >+</div>
                </div>
        </div>
</div>


<my-data-renderer-modal 
        #modal
        [title]="modalTitle"
        [data]="columns" 
        [action]="actionEnum.CREATE"
        [container]="contentEnum.FORM"></my-data-renderer-modal>