body {
  padding: 0 !important;
  margin: 0 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.modal {
  z-index: 1100 !important;
}

.modal-backdrop.fade{
  opacity: 0.6 !important;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.list-group { 
    min-width: 400px;
    width: 100%;
 }

/*
* clear random gaps between rows in searchbox list;
*/
.my-search-list, .my-search-group {
  min-height: 0px !important;
}
my-search-box-dropdown-item:hover {
  padding-left: 3px;
  padding-right: 3px;
  opacity: 0.9;
}
.my-search-list-item {
  border-top: 0 !important;
  border-radius: 0 !important;
}

.list-overflow-control {
  max-height: 60vh;
  overflow-y: scroll;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}