
body {
  padding: 0 !important;
  margin: 0 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.list-group { 
    min-width: 400px;
    width: 100%;
 }

.modal {
  z-index: 1300 !important;
}

/**
* navbar covers sidebar
*/
.navbar {
  z-index: 1200 !important;
}

 /*
 * Sidebar
 */

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  height: 100vh;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
* clear random gaps between rows in searchbox list;
*/
.my-search-list {
  min-height: 0px !important;
}
.my-search-list-item {
  border-top: 0 !important;
  border-radius: 0 !important;
}