<div *ngIf="item.key!='id'" class="form-group row" style="display: flex; justify-content: space-between;" [formGroup]="form">
        <label for="item.key" class="col-form-label" style="flex-grow: 0;" >{{ item.key | uppercase }} :</label>
        <div style="flex-grow: 0;">
            <input 
                [formControlName]="item.key" 
                [formGroup]="form"
                id="item.key" 
                class="form-control" 
                type="text" 
                value="item.value">
        </div>
</div>