<div class="row">
<my-search-box 
        class="col-sm-11">waiting...</my-search-box>

<button 
        *ngIf="buttonName != ''" 
        type="button" 
        class="btn btn-primary" 
        (click)="showDataRendererModal()">{{ buttonName }}</button>
        
<my-data-renderer-modal 
        #modal
        class="col-sm-1"
        [title]="modalTitle"
        [data]="columns" 
        [action]="actionEnum.CREATE"
        [container]="contentEnum.FORM"></my-data-renderer-modal>
</div>

<div class="row">
    <my-cards [data]="data" [action]="actionEnum.EDIT"></my-cards>
</div>



