<div class="row" style="padding-top: 65px !important; padding: 20px;">
        <my-search-box class="col-xs-10 col-sm-11">waiting...</my-search-box>
        <div class="col-xs-2 col-sm-1">
                <button 
                        type="button" 
                        class="btn btn-primary" 
                        (click)="showDataRendererModal()">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                </button>

        </div>

</div>

<my-cards class="col-xs-12" [data]="data"></my-cards>

<my-modal [title]="'Data Filter'" #draglist>
        <my-drag-list 
                class="modal-body"
                [button]="'Confirm'"
                (onConfirm)="onConfirm($event)"></my-drag-list>
</my-modal>






