<div class="bg-inverse tool-box" style="min-width: 80px; width: 100%; padding-top: 15px; padding-bottom: 15px; padding-left: 5px; display:flex; top: 100px; left: 0; position: sticky;">
    <div style="flex-grow: 1;">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link"
                   [routerLink]="['/']"
                   href="#"
                   [class.active]="(index | async) == 'search'"
                   (click)="onClick('search'); onSearch();">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="(user | async)?.scope?.includes('uaa.admin')">
                <a class="nav-link"
                   [routerLink]="['/']"
                   href="#"
                   [class.active]="(index | async) == 'upload'"
                   (click)="onClick('upload'); onUpload();">
                    <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="(user | async)?.scope?.includes('uaa.admin')">
                <a class="nav-link"
                   [routerLink]="['/']"
                   href="#"
                   [class.active]="(index | async) == 'adding'"
                   (click)="onClick('adding'); onAdding();">
                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   [routerLink]="['/']"
                   href="#"
                   [class.active]="(index | async) == 'config'"
                   (click)="onClick('config'); onConfig();">
                    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="(index | async)" style="flex-grow: 1;"  [@animatePanel]="'openPanel'" *ngIf="(index | async)!=''">
        <div *ngSwitchCase="'search'" [@animatePanel]="'active'">
            <my-search-box
                    (useless) = "onUseless($event)"
                ></my-search-box>
        </div>
        <div *ngSwitchCase="'upload'" [@animatePanel]="'active'">
            <my-upload></my-upload>
        </div>
        <div *ngSwitchCase="'adding'" [@animatePanel]="'active'">
            <my-add-new
                (useless)="onUseless($event)"
                ></my-add-new>
        </div>
        <div *ngSwitchCase="'config'" [@animatePanel]="'active'">
            <my-config
                (useless)="onUseless($event)"
                ></my-config>
        </div>
    </div>
</div>
