<div bsModal #dataRenderModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left col-sm-11">{{title}}</h4>
        <button type="button" class="close pull-right col-sm-1" aria-label="Close" (click)="hideDataRendererModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [ngSwitch]="container">
          <!-- 0 stands for ContentEnum.FORM since its index is 0 -->
          <div *ngSwitchCase="0"> 
            <my-form-list 
                    [data]="data" 
                    [title]="title" 
                    [action]="action" 
                    (submitted)="submitHandler($event)"></my-form-list>
          </div>
          <!-- 1 stands for ContentEnum.TABLE since its index is 1 -->
          <!-- For search box item -->
          <div *ngSwitchCase="1">
            <my-table-list [item]="data"></my-table-list>
            <button class="btn btn-primary" type="button" (click)="addClick()">Add</button>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>