 <label for="file" class="custom-file">
     <div>
        <h6 style="cursor: pointer; border: 1px solid ghostwhite; border-radius: 5px; padding: 10px;">Import File</h6>
     </div>
     <input #myInput class="custom-file-input" id="file" type="file" (change)="onFileChange($event)" hidden>
 </label>

<div *ngIf="title != ''">
    <br><small>&nbsp;&nbsp;&nbsp;You will upload: &nbsp;&nbsp;&nbsp;</small>{{ title }}
    <div class="alert alert-danger" role="alert" *ngIf="!fileIsValid && !uploaded">
        {{ errorMessage }}
    </div>
    <br><br>
    <button *ngIf="fileIsValid" type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
</div>

<div class="alert alert-success" role="alert" *ngIf="uploaded">
 "Uploading finished."
</div>
